<h1 class="text-center">Article Listing Page</h1>
<%= link_to 'New Article', new_article_path %>

<div class="container-fluid">
	<div class="row">
		<%= render partial: 'article', collection: @articles, as: :x %>
	</div>
</div>
