/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap" ;

.field_with_errors {
	color: #f55 ;
	transform-origin: top center ;
	animation: shake 25ms 25 alternate ;
}

@keyframes shake {
	0% {
		transform: rotate(-1deg) ;
	}

	100% {
		transform: rotate(1deg) ;

	}
}

body, html {
	height: 100% ;
	display: flex ;
	flex-direction: column ;
}

#page-content {
	flex: 1 0 auto ;
}

.text-center {
	text-align: center ;
}

.jumbotron {
	background: #111 image-url('patrick-fore-0gkw_9fy0eQ-unsplash') center center !important ;
	background-size: cover !important  ;
	color: #fff !important ;
	text-shadow: 2px 2px 3px #000 !important ;
	filter: drop-shadow(0px 0px 4px #0008) ;
	transition: all 0.25s ease ;

	&:hover {
		filter: drop-shadow(8px 8px 2px #0006) ;
	}
}

.btn {
	color: #fff !important ;
}

#footer {
	background-color: #222 ;
	color: #fff ;
	padding: 16px ;
	text-align: center ;
	flex-shrink: none ;
	margin-top: 5vh ;
}

.width-100 {
	width: 100% !important ;
}

.pagination {
	display: block ;
	text-align: center ;
	margin: 0px ;
	user-select: none ;

	& a, & .gap, & .current {
		padding: 4px ;
		min-width: 32px ;
		margin: 0 ;
		color: #55f ;
		display: inline-block ;
		background-color: transparent ;
		border: 1px solid #0a0 ;
		border-radius: 0px 8px ;
		transition: all 0.125s ease ;

		&:hover {
			background-color: #0a0 ;
			color: #fff ;
			text-decoration: none ;
			filter: drop-shadow(2px 2px 2px #0006) ;
		}

		&:active {
			color: #fff ;
			background: repeating-linear-gradient(
				45deg, #55f, #55f 4px, #88f 4px, #99f 8px
			) ;
			border-color: #55f ;
		}
	}

	& .gap, & .disabled {
		cursor: not-allowed ;
		border: none ;

		&:hover {
			background-color: transparent ;
			color: #f55 ;
		}

		&:active {
			background-color: transparent ;
			background: none ;
		}
	}

	& .current {
		color: #fff ;
		background: repeating-linear-gradient(
			45deg, #0a0, #0a0 4px, #080 4px, #090 8px
		) ;
		cursor: not-allowed ;
	}
}

.hover-shadow {
	transition: all 0.25s ease ;

	&:hover {
		filter: drop-shadow(3px 3px 4px #0003) ;
	}
}
